/*styling*/
.something-weird {
    position: absolute;
    height: 100%;
    width: 100%;
}
/*fonts*/
.header-1-logo {
    color: #f9faf8;
    font-size: 24px;
}
.main-text {
    font-size: 20px;
    color: #f9faf8;
}
.small-subtext {
    color: #e5e7eb;
    font-size: 18px;
}
.q-font {
    font-size: 36px;
    color: #1f2937;
}
.b-font-b {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 10px;
}
.b-font-s {
    color: #e5e7eb;
    font-size: 12px;
    font-weight: lighter;
}
.center-align {
    text-align: center;
}
/*buttons, links, and images*/
a {
    color: #e5e7eb;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
}
.button {
    background-color: #3882F6;
    border: none;
    text-align: center;
    color: white;
    border-radius: 7%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.top-img {
    width: 450px;
    height: 225px;
}
.img {
    border: 3px solid #3882F6;
    border-radius: 25px;
    width: 130px;
    height: 135px;
}
.alert-button {
    background-color: #3882F6;
    border: 2px solid #f9faf8;
    text-align: center;
    color: white;
    border-radius: 7%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
}
/*backgrounds*/
.q {
    background-color: #e5e7eb;
}
.top-background {
    background-color: #1f2937;
}
.alert-background {
    background-color: #3882f6;
}

/*flex*/
/*first flex container*/
.flex-container1 {
    display: flex;
}
.flex-container1 div {
    flex: 1 1 0%
}
.flex-container1 .one {
    text-align: center;
    flex: 2 1 0%;
    padding-bottom: 30px;
}
.flex-container1 .two {
    text-align: end;
    flex: 1 1 0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.flex-container1 .three {
    text-align: center;
    flex: 1 1 0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.flex-container1 .four {
    text-align: start;
    flex: 1 1 0%;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*flex container 2*/
.flex-container2 {
    display: flex;
}
.flex-container2 div {
    flex: 1;
}
.flex-container2 .five {
    flex: 1 1 0%;
    text-align: center;
}
.flex-container2 .six {
    flex: 1 1 0%;
    text-align: start;
    padding-bottom: 40px;
}
/* flex container 3*/
.flex-container3 {
    display: flex;
}
.flex-container3 div {
    flex: 1;
}
.flec-container3 .seven {
    flex: 1 1 0%;
    align-items: center;
}
/*flex container 4*/
.flex-container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.eight {
    flex:inherit;
}
.nine {
    flex:inherit;
}
.ten {
    flex:inherit;
}
.eleven {
    flex: inherit;
}
/*flex container five*/
.flex-container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.twelve {
    flex: inherit;
}
/* this is where I started using "t(n)" intstead of numbers for easier use */
.f13 {
    flex: inherit;
}
.f14 {
    flex: inherit;
}
.f15 {
    flex: inherit;
}
/* flex container 6 */
.flex-container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.big-boy {
    flex: 1;
}
.f16 {
    flex: 1;
    max-width: 650px;
}
.f17 {
    flex: 1;
    text-align: right;
}
/* flex container seven */
.flex-container7 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-item-container1 {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    max-width: 880px;
}
.f18 {
    flex: 2;
    padding-left: 60px;
}
.f19 {
    flex: 1;
    text-align: center;
}