.top-background {
    background-color: #1f2937;
}
.header-1-logo {
    color: #f9faf8;
    font-size: 24px;
}
a {
    color: #e5e7eb;
    font-size: 18px;
    font-style: none;
}
.main-text {
    font-size: 48px;
    color: #f9faf8;
}
.small-subtext {
    color: #e5e7eb;
    font-size: 18px;
}
.button {
    background-color: #3882F6;
    border: none;
    text-align: center;
    color: white;
    border-radius: 7%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.img {
    border: 7px solid #3882F6;
    border-radius: 50px;
    width: 200px;
    height: 215px;
}
.q {
    background-color: #e5e7eb;
}
.q-font {
    font-size: 36px;
    color: #1f2937;
}
.alert-background {
    background-color: #3882f6;
}
.alert-button {
    background-color: #3882F6;
    border: 2px solid #f9faf8;
    text-align: center;
    color: white;
    border-radius: 7%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
}